body {
  background: #f5f5f5;
}

.header {
  background: #626d79;
  color: rgb(228, 228, 228) !important;
}

.header > h1,
.header > h2 {
  color: rgb(228, 228, 228) !important;
}

.selfie {
  height: 300px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
}

.skill-component {
  pointer-events: none;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills > div {
  margin: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  ul {
    list-style-type: circle;
    align-items: flex-start;
    padding-left: 30px !important;
  }
}

h2 {
  text-align: center;
  font-weight: 400 !important;
}
